<li class="search__result" data-target="search-results.result">
  <%= link_to sanitize(strip_tags(book.title)), main_app.book_url(book, subdomain: false), "up-target" => ".main", "up-transition" => "cross-fade" %>
</li>
