<% content_for :fullpath do %>
  <script>
    Appcontroller = "<%= category_path(@post.posttable) %>"
  </script>
<% end %>

<% content_for :titleise do %>
  <h1>Изменить пост</h1>
<% end %>
<div class="py-5 flex justify-center">
  <div class="w-full">
    <%= render 'form', post: @post, close: true %>
  </div>
</div>
