<div class="bg-green-100 border-t-4 border-b-2 border-green-200 pt-3 pb-4 px-4 mb-8 rounded text-center">
  <div class="lg:inline-block block mt-4">
    <%= link_to add_book_path(book, type: "add", amountorub: (book.price.to_s+"00").to_i), method: :put, class: "btn", data: {disable_with: disable_helper('Переход в Сбербанк-Онлайн')} do %>
      Купить за <%= book.price %> руб
    <% end %>
  </div>
  <div class="inline-block text-gray-700 mt-4 ml-2">
    Книга будет сохранена в вашей
    <%= link_to 'онлайн-библиотеке', main_app.library_index_url(subdomain: false), class: 'hover:text-blue-500' %>
  </div>
</div>
