<div class="my-4">
  <% @categ = @user_agent.categories %>

  <% if @categ.blank? %>
    <div class="text-gray-600">
      Категория - это ваше меню навигации, создавайте "Новости", "Контакты" и то, что вам необходимо. Наполняйте категорию вложенными страницами, они будут отображены на главной странице.
    </div>
    <h1>Создайте свою первую категорию</h1>
  <% else %>
    <h1>Новая категория</h1>
  <% end %>
  <%= render 'form', category: @category %>
</div>
