<div class="my-4">
  <h1>Новая категория</h1>
  <div class="text-gray-500 text-xs">Вы можете создать страницу для ваших статей определенной категории, например "Новости", "Мой блог", "Моя работа" и прочее. Либо использовать категорию в качестве страницы, не доступной главной ленте, например "Контакты", "Обо мне", "Наши сотрудники" и т.п.</div>
  <%= render 'form', category: @category %>
</div>
