<% content_for :titleise do %>
  <h1>Изменить категорию</h1>
<% end %>
<div class="py-5 flex justify-center">
  <div class="w-full max-w-xl">
    <%= render 'form', category: @category %>
  </div>
</div>
