<% content_for :canonical_link, root_url(subdomain: false) %>

<% if user_signed_in? %>
  <div class="block">
    <%= link_to icon('fas', 'plus fa-2x'), main_app.new_category_path, class: 'link float-right', title: 'Добавить категорию' if current_user.admin? %>
  </div>
<% end %>

<div id="categories-index" data-turbolinks-permanent>
  <%= render partial: 'article/posts/post', collection: @posts %>
</div>
<div class='text-center' id="categories-index-paginate" data-turbolinks-permanent>
  <%= render partial: "next_link", locals: {pagy: @pagy} %>
</div>
