<% content_for :canonical_link, root_url(subdomain: false) %>

<% if user_signed_in? && request.subdomain.present? && @user_agent == current_user %>
  <div class="block mb-5" id="btn_hide">
    <%= link_to icon('fas', 'plus fa-2x'), main_app.new_category_path, class: 'link pl-2', title: 'Добавить категорию', remote: true %>
  </div>
<% elsif user_signed_in? && current_user.admin? %>
  <div class="block mb-5" id="btn_hide">
    <%= link_to icon('fas', 'plus fa-2x'), main_app.new_category_path, class: 'link pl-2', title: 'Добавить категорию', remote: true %>
  </div>
<% end %>

<div id="categories-index" data-turbolinks-permanent>
  <%= render partial: 'article/posts/post', collection: @posts, cached: true %>
</div>
<div class='pagination' id="categories-index-paginate" data-turbolinks-permanent>
  <%= pag_helper(@posts, 'Далее') %>
</div>
