<% content_for :canonical_link, root_url(subdomain: false) %>

<div id="categories_index" data-turbolinks-permanent>
  <%= render partial: 'article/posts/post', collection: @posts, cached: true %>
</div>
<div class='text-center' id="categories_index_paginate" data-turbolinks-permanent>
  <%= render partial: "next_link", locals: {pagy: @pagy} %>
</div>
