<% flash.each do |msg_type, message| %>
  <div data-controller="flash">
    <div data-target="flash.hidden" class="absolute border-t-4 w-full shadow-lg <%= notice_class_for(msg_type) %> text-center">
      <p class="font-bold">
        <%= message %>
      </p>
    </div>
  </div>
<% end %>
