<% content_for :titleise do %>
  <h1 class="header-title text-center text-white">
    Условия использования профиля
  </h1>
<% end %>

<div class="p-4 px-3 py-10 flex justify-center">
  <div class="w-full max-w-md">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <p>
        Сайт <%= request.domain %> предоставляет возможность зарегистрированным пользователям вести свой собственный блог в личных или профессиональных целях.
        <br/>
        При этом, для полного доступа к профилю необходима платная подписка, подписчикам предоставляется возможность создания и редактирования категорий и статей, так же читать закрытые новостные материалы на сайте <%= request.domain %>.
        <br/>
        <b>ВАЖНО! Новым пользователям 1 месяц бесплатно.</b>
        <br/>
        Оплата происходит через ПАО СБЕРБАНК с использованием Банковских карт следующих платежных систем:
        <br/>
        <div class="text-center"><%= image_tag 'logo_cards_small.png', width: 300 %></div>

        <hr/>

        <u>ОПИСАНИЕ ПРОЦЕССА ПЕРЕДАЧИ ДАННЫХ</u>
        <br/>
        Для оплаты (ввода реквизитов Вашей карты) Вы будете перенаправлены на платежный шлюз ПАО СБЕРБАНК. Соединение с платежным шлюзом и передача информации осуществляется в защищенном режиме с использованием протокола шифрования SSL. В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa, MasterCard SecureCode, MIR Accept, J-Secure для проведения платежа также может потребоваться ввод специального пароля.
        <br/>
        Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой персональной информации обеспечивается ПАО СБЕРБАНК. Введенная информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платежных систем МИР, Visa Int., MasterCard Europe Sprl, JCB.
      </p>
    </div>
  </div>
</div>
