<% content_for :titleise do %>
  <h1 class="text-center mb-5">
    УСЛУГИ ПРОЕКТА
  </h1>
<% end %>

<div class="flex justify-center">
  <div class="w-full max-w-md">
    <div class="trix-content px-2">
      Сайт <%= request.domain %> предоставляет жителям и гостям города Среднеколымск эксклюзивные материалы новостного и статьи биографического характера по подписке. Так же, предоставление online-книг Среднеколымских писателей за отдельную плату.
      <hr/>
      <span class="font-bold text-grey-darkest">Прайс по подписке</span>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">1 месяц - <%= summ_short_month %> руб.</li>
        <li class="list-group-item">12 месяцев - <%= summ_long_month %> руб.</li>
      </ul>
    </div>
  </div>
</div>
