<% content_for :titleise do %>
  <h1 class="text-center">
    Реквизиты
  </h1>
<% end %>

<div class="p-4 px-3 py-10 flex justify-center">
  <div class="w-full max-w-sm">
    <div class="trix-content rounded px-8 pt-6 pb-8 mb-4">
      <div class="text-center mb-4 font-bold">
        Индивидуальный предприниматель
        <br/>
        Зайцева Виктория Феодосьевна
      </div>
      ИНН 142331593191
      <br/>
      ОГРНИП 318144700050289
      <br/>
      Юридический адрес: 678790, Среднеколымский улус, г.Среднеколымск, ул.Мира 2
      <br/>
      Электронная почта: nikolaokonesh@gmail.com
      <br/>
      Телефоны: 8-800-500-9876
    </div>
  </div>
</div>
