<div class="text-2xl text-center">Обратная связь</div>
<div class="lg:max-w-lg mx-auto">
  <div class="text-gray-600 text-center">Напишите ваши предпочтения о работе сайта или задайте любой интересующий вас вопрос.</div>
</div>

<% if user_signed_in? %>
  <div id="feedbacking_show" data-turbolinks-permanent>
    <div id="complate_hidden" >
      <%= render partial: "feedbacks/form" %>
    </div>
    <div id="complate_text" class="hidden">
      <div class="font-bold mt-10 text-green-700 text-center">
        Ваше обращение успешно отправлено менеджеру.
        <br/>Спасибо!
      </div>
    </div>
  </div>
<% else %>
  <div class="block text-gray-600 leading-normal font-normal text-center">
    Перед этим
    <%= link_to 'войдите', main_app.new_user_session_path, class: 'link' %>
    или
    <%= link_to 'зарегистрируйтесь', main_app.new_user_registration_path, class: 'link' %>
  </div>
<% end %>
