<div class="text-2xl text-center">Обратная связь</div>
<div class="lg:max-w-lg mx-auto">
  <div class="text-gray-600 text-center">Напишите нашему менеджеру о ваших предпочтениях в работе сайта или задайте любой другой интересующий вас вопрос.</div>
</div>

<div id="feedbacking_show" data-turbolinks-permanent>
<div id="complate_hidden" >
  <%= render partial: "feedbacks/form" %>
</div>
<div id="complate_text" class="hidden">
  <div class="font-bold mt-10 text-green-700 text-center">
    Ваше обращение успешно отправлено менеджеру.
    <br/>Спасибо!
  </div>
</div>

</div>
