<% content_for :titleise do %>
  <h1 class="text-center">
    Способы оплаты
  </h1>
<% end %>

<div class="p-4 px-3 py-10 flex justify-center">
  <div class="w-full max-w-2xl">
    <div class="leading-normal trix-content px-8 pt-6 pb-8 mb-4">
      <span class="font-bold text-grey-darkest">Оплата подписки</span>
      <br/>
      На сайте <%= request.domain %> подписку можно оплатить банковской картой при выборе соответствующего тарифного плана. Для подписки или покупки онлайн-книги вам необходимо быть зарегистрированными на сайте, нажать на кнопку оплаты услуги, далее будет автоматический переход на сайт Сбребанк-Онлайн для оплаты банковской картой, после ввода данных банковской карты и успешной оплаты на сайте ПАО СБЕРБАНК будет произведено автоматическое перенаправление на сайт <%= request.domain %>.
      <br/>
      Оплата происходит через ПАО СБЕРБАНК с использованием Банковских карт следующих платежных систем:
      <br/>
      <div class="block text-center">
        <%= image_tag 'logo_cards_small.png', width: 300, class: "mx-auto" %>
      </div>
      <span class="font-bold text-grey-darkest">Описание процесса передачи данных</span>
      <br/>
      Для оплаты (ввода реквизитов Вашей карты) Вы будете перенаправлены на платежный шлюз ПАО СБЕРБАНК. Соединение с платежным шлюзом и передача информации осуществляется в защищенном режиме с использованием протокола шифрования SSL. В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa, MasterCard SecureCode, MIR Accept, J-Secure для проведения платежа также может потребоваться ввод специального пароля.
      <br/>
      Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой персональной информации обеспечивается ПАО СБЕРБАНК. Введенная информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платежных систем МИР, Visa Int., MasterCard Europe Sprl, JCB.
    </div>
  </div>
</div>
