<div class="flex justify-center">
  <div class="w-full">
    <div>
      <% if current_user_subscribed? %>
        <div class="text-3xl text-gray-600 mb-2">
          Уважаемый подписчик
        </div>
        <div class="leading-normal">
          Вы подписаны до <b><%= time_tag(current_user.subscribe_at, :format=>'%d %B %Y') %></b> года.
          <br/>
          Открыты все статьи на нашем сайте.
          <br/>
          Полное управление личной страницей.
          <div class="mt-5 text-sm">
            Благодаря Вам, на сайте отсутствует сторонняя реклама.
            <br/>
            Полученные средства будут полностью направлены на развитие и улучшение данного сайта, а также на разработку мобильного приложения под Android и iOS.
            <br/>
            Сайт является зависимым только от вас. Спасибо за пользование!
          </div>
        </div>
      <% else %>
        <%= render 'tarif' %>
      <% end %>
    </div>
  </div>
</div>
