<% content_for :titleise do %>
  <h1>Изменить страницу</h1>
<% end %>
<div class="py-5 flex justify-center">
  <%= render partial: "market/knigi/books/pages/form", locals: { commentable: @page.commentable } %>
</div>
