.trix-content {
  .attachment-gallery {
    > action-text-attachment,
    > .attachment {
      flex: 1 0 33%;
      padding: 0 0.5em;
      margin: 6px 0;
      max-width: 33%;
    }

    &.attachment-gallery--2,
    &.attachment-gallery--4 {
      > action-text-attachment,
      > .attachment {
        flex-basis: 50%;
        max-width: 50%;
      }
    }
  }

  action-text-attachment {
    .attachment {
      padding: 0 !important;
      margin: 8px 0 !important;
      max-width: 100% !important;
    }
  }
}

trix-toolbar {
  .trix-button-group,
  .trix-button {
    margin-bottom: 0px !important;
    border: none !important;
  }
  .trix-button--icon {
    width: 1.5em !important;
    height: 1.1em !important;
  }
}

trix-editor {
  border: none !important;
  border-bottom: 2px solid #e2e8f0 !important;
  &:focus {
    border-bottom: 2px solid #bee3f8 !important;
  }
}

.attachment.attachment--file {
  width: 100% !important;
}
