.logotip {
  padding: 22px 97px;
}

.header-fon {
  background: linear-gradient(#000224E3, #FFFFFF24);
}

.z-index {
  &-plus {
    z-index: 200;
  }
  &-minus {
    z-index: -99;
  }
}

.flash-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.text-shadow {
  text-shadow: 1px 2px 1px #333;
}

.posts-color {
  transition-property: #FFF;
  transition-duration: 1s;
}

.pswp__caption__center {
  max-width: 100% !important;
  text-align: center !important;
  font-size: 10px !important;
}
