<li class="search__result" data-target="search-results.result">
  <%= link_to sanitize(strip_tags(post.title)), main_app.url_for([post.posttable, post, subdomain: notification_target_helper(post)]) %>
</li>
