<% content_for :header do %>
  <div class="absolute w-full pt-5 lg:pt-10">
    <div class="max-w-3xl mx-auto">
      <%= render 'shared/navbar' %>
    </div>
  </div>
  <div class="header-fon w-full h-40">
  </div>
<% end %>

<% content_for :menu do %>
  <%= render partial: 'article/categories/category', collection: Article::Category.includes(:comments).where(type: nil), cached: true %>
  <div class="tracking-wide text-center text-sm text-gray-500 font-bold border-b pb-1 pt-6">
    МАРКЕТ
  </div>
  <%= active_link_to main_app.books_path, class: 'link' do %>
    <div class="menu">
      Книги
    </div>
  <% end %>
<% end %>

<%= render template: "layouts/root/application" %>
