.logotip {
  padding: 20px 90px;
  &--header {
    padding: 35px;
  }
}

.header-fon {
  background: linear-gradient(#000121BF, #FFFFFF24);
}

.z-index {
  &-plus {
    z-index: 200;
  }
  &-minus {
    z-index: -100;
  }
}

.text-shadow {
  text-shadow: 1px 2px 1px #333;
}

.posts-color {
  transition-property: #FFF;
  transition-duration: 3s;
}
