html {
  scroll-behavior: smooth;
}

.logotip {
  padding: 20px 90px;
  &--header {
    padding: 35px;
  }
}

.header-fon {
  background: linear-gradient(#000121BF, #FFFFFF24);
}

.z-index {
  &-plus {
    z-index: 200;
  }
  &-minus {
    z-index: -100;
  }
}

.flash-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.text-shadow {
  text-shadow: 1px 2px 1px #333;
}

.posts-color {
  transition-property: #FFF;
  transition-duration: 1s;
}

.pswp__top-bar, .pswp__caption {
  background-color: rgba(0, 0, 0, 0) !important;
}

.link_to_post {
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
}
