.header-fon {
  background: radial-gradient(at bottom, #FFFFFF, #000122);
}
.header-fon-sun {
  background: asset_url('header-sun.png') no-repeat center center / cover;
}
.header-fon-les {
  background: asset_url('header.png') no-repeat center center / cover;
}
