<div id="err" class="bg-red-100 text-center p-2 mb-4 rounded border-t-2 border-red-300">
  <% post.errors.full_messages.each do |error| %>
    <li class="text-red-700 py-1"><%= error %></li>
  <% end %>
</div>
