<div class='upload-progress fixed top-0 left-0 w-full h-full inset-0 overflow-y-auto flex items-center justify-center text-white' id="hardloaderpage" style="background-color: rgba(255, 255, 255, 1); z-index: 9998;" data-controller='loader' data-target='loader.hidden' data-turbolinks-permanent>
  <div class='spinner'>
    <div class="base-loader__circle"></div>
  </div>
</div>
