<div class='spinner'>
  <div class='fixed top-0 left-0 w-full h-full inset-0 overflow-y-auto flex items-center justify-center text-white' style="z-index: 9998;">
    <div class="base-loader__circle"></div>
  </div>
</div>
