<div class='upload-progress fixed top-0 left-0 w-full h-full inset-0 overflow-y-auto flex items-center justify-center text-white' style="background-color: rgba(0, 0, 0, 0.8); z-index: 9998; display: none;" data-controller='upload-progress'>
  <div class='spinner' data-target='upload-progress.spinner'>
    <div class="base-loader__circle"></div>
  </div>
  <div class='done-indicator' data-target='upload-progress.done' style="display: none;">
    <i class="fa fa-3x fa-check text-green-500"></i>
  </div>
  <div class="upload-comment" data-target='upload-progress.comment'>
    <span class="px-2">
      Загрузка
    </span>
    <span class="progress-count"></span>
  </div>
</div>
