<div class="media-heading leading-normal">
  <div class="pb-1">
    <div class="flex">
      <div class="flex">
        <%= user_avatar_helper(notification.actor, 38) %>
      </div>
      <div class="block">
        <%= notification.actor.name_full %>
        <%= notification.actor.email %>
        <div class="inline-block bg-red-700 text-gray-300 px-2">Обратная связь</div>
        <div class="inline-block">
          <div class="flex items-center">
            <div class="inline-block media-content border-left bg-gray-200 text-gray-700 rounded px-2">
              <%= notification.target.message %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

