<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/html_head' %>
  </head>

  <body>
    <%= render 'shared/notice' %>

    <%= yield(:content_body)%>

    <%= render 'shared/footer', color: 'inline-block text-gray-400 hover:text-white pr-2' %>
  </body>
</html>
