<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/html_head' %>
  </head>

  <body>
    <%= render 'shared/notice' %>

    <%= yield(:content_body)%>

    <div class="w-full bg-gray-900">
      <%= render 'shared/footer', color: 'inline-block text-gray-600 hover:text-gray-500 pr-2' %>
    </div>
  </body>
</html>
